extends layout
block content
    style.
        //- h1 {text-align:center;}
        //- table.ui.celled img { display: inline-block; }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        footer { margin: 35px 0 15px 0; text-align: left }
    h1 Guest page for: #{guest.name}
    p Guest ID: #{guest.id}
    p
    h2 List Name: #{guest.list.lName}
    p
    p List Items
    //- table.ui.celled.table.center.aligned
    table
        tr
        th Item Code
        th Item Name
        tr
        for item in guest.items 
            tr  
                td #{item.id}
                td #{item.item_name}
    